<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Social App</h1>
  
    <h2>
      This is the home page for the
      <a href="https://www.vk.com/the_one_and_only_number_one">Kolya and friends</a>
      social application.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous"
  src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v3.3">
  </script>

  <div class="fb-like"
    data-href="https://obscure-spire-16663.herokuapp.com/"
    data-width=""
    data-layout="standard"
    data-action="like"
    data-size="small"
    data-show-faces="true"
    data-share="true">
  </div>

  </div>
  
  <%= link_to image_tag("social_app.png", alt: "Social App Logo"),
              'https://www.vk.com/the_one_and_only_number_one' %>
<% end %>